body{
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

input:hover{
    outline: 2px solid #C33129;
}

button:hover{
    background-color: #C33129;
}


.split{
    height: 100%;
    width: 50%;
    position:fixed;
    z-index: 1;
    top:0;
    overflow-x: hidden;
    padding-top:20px;
}


.left{
    left:0;
    background-color: #FFFFFF;
}

.right{
    right:0;
    background-color: #FFFFFF;
    position:relative;
    left:55%;
    top:20%;
}

.centered{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img{
    max-width: 200%;
    max-height: 100%;
    margin: auto;

}

.logo{
    position:absolute;
    bottom: 0;
    left:0;

}


.button1{
    background-image: url(./google_logo.svg);
    background-repeat: no-repeat;
    background-position-x: 25%;
    background-position-y: center;
    background-size: 8%;
    background-color: #FFFFFF;
    border: 1px solid #B7B7B7;
    width: 50%;
    border-radius: 6px;
    height: 40px;

}

.button2{
    background-color: #F63E34;
    color: #FFFFFF;
    width: 50%;
    border-radius: 6px;
    height: 40px;
}

.texts{
    font-size: 80%;
}



.signup{
    font-size: 80%;
    color:#B7B7B7;
}

.links{
    color:#F63E34;
}

.links:hover{
    color: #C33129;
}

